/***    START:系统样式表    ***/
    .crmrk .ibiz-rawitem .ibiz-rawitem__text{
    position: absolute;
   margin: 7% auto;
   width:100%;
    font-size: 20px;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #E65100;
    /* line-height: 23px; */
    -webkit-background-clip: text;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
        text-align: center;
}
        .crmfbt .ibiz-rawitem .ibiz-rawitem__text{
        margin: 22% auto;
    width: 100%;
    position: absolute;
    font-size: 20px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #E65100;
    /* line-height: 23px; */
    -webkit-background-clip: text;
    text-align-last: center;
    }
    .ehrrk .ibiz-rawitem .ibiz-rawitem__text{
position: absolute;
width:100%;
    margin: 7% auto;
    font-size: 20px;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #007BCA;
    /* line-height: 23px; */
    -webkit-background-clip: text;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
        text-align: center;
}
        .ehrfbt .ibiz-rawitem .ibiz-rawitem__text{
    margin: 22% auto;
    width: 100%;
    position: absolute;
    font-size: 20px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    color: #007BCA;
    text-align-last: center;
 
    }
    .omnioaythbgpt .ibiz-rawitem .ibiz-rawitem__text{
    font-size: 40px;
    position: relative;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
    color: #FFFFFF;
    top: 53px;
    right: -100px;
    z-index: 3;
}
.omnioaythbgpt{
    height:115px
}
    .user_info_style .ibiz-form-group.ibiz-form-group--grouppanel8 {
    margin-left: 30px;
}
    /* 表单分组标题 */
.main-info-common-view .ibiz-form-group--right_grouppanel .ibiz-form-group__caption {
  font-size: 16px;
  color: var(--ibiz-color-disabled-text);
}
/* 表单分页样式（padding、导航栏标题） */
.main-info-common-view .ibiz-control-form > .ibiz-form-page .ibiz-form-tab-panel {
  padding: 0 11px 0 13px;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page .ibiz-form-tab-panel.el-tabs .el-tabs__item {
  font-size: 14px;
}
/* 两侧滚动条 */
.main-info-common-view .ibiz-control-form {
  height: 100%;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page {
  height: 100%;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page > .ibiz-form-page-item {
  height: 100%;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page > .ibiz-form-page-item > .ibiz-col--grid {
  height: 100%;
  overflow: auto scroll;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page > .ibiz-form-page-item > .ibiz-col--grid > .ibiz-form-group {
  height: auto;
}

    /* 折叠分组样式3 */
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-form-group-collapse > .ibiz-form-group-header {
  margin: 0 8px;
  padding-right: 8px;
  border: 1px solid var(--ibiz-form-group-header-border-color);
}
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-form-group--grouppanel3 {
  border-right: 1px solid var(--ibiz-form-group-header-border-color);
  border-bottom: 1px solid var(--ibiz-form-group-header-border-color);
}
/* 评论容器取消发送按钮位置 */
.main-info-common-view .ibiz-panel-button--comment__cancel,
.main-info-common-view .ibiz-panel-button--comment__send {
  position: absolute;
  bottom: 0;
  width: auto;
  right: 0;
}
.main-info-common-view .ibiz-panel-button--comment__cancel {
  right: 76px;
}
    .main-info-common-view .ibiz-grid-container--container_view_bottom > div {
height: 100%;
}
.main-info-common-view .ibiz-grid-container--container_view_bottom > div:nth-child(2) {
min-height: 48px;
}
.main-info-common-view .ibiz-single-data-container--container_attention>.el-row {
position: static;
}
.main-info-common-view .ibiz-single-data-container--container_attention .ibiz-attention {
width: calc(100% - 4px);
min-height: 48px;
padding-right: 32px;
position: absolute;
top: 0;
}
/* 时间范围宽度 */
.main-info-common-view .ibiz-date-range-picker {
max-width: 250px;
}

    .wfqtb{
width: 32px;
    height: 32px;
    position: absolute;
    margin: -30px 0px 0px 60%;
}
    .wfqzswz .ibiz-rawitem .ibiz-rawitem__text{
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #41464C;
    position: relative;
    line-height: 19px;
    left: 8px;
    top: 8px;
    -webkit-background-clip: text;
}
    .wfqzxwz .ibiz-rawitem .ibiz-rawitem__text{
    font-size: 19px;
    font-family: Helvetica-Regular, Helvetica;
    font-weight: 400;
    color: #41464C;
    line-height: 25px;
    -webkit-background-clip: text;
    position: relative;
    top: 6px;
    left: 8px;
}
    .jswz{
    position: relative;
    width: 597px;
    right: -100px;
}
.jswz .ibiz-rawitem .ibiz-rawitem__text {
    font-size: 18px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    
    color: #FFFFFF;
    -webkit-background-clip: text;
}
    .rwwfqrq{

}
    .rwtxwfq{
    position: relative;
    height: 80px;
    width: 6vw;
    background: #E8F9FF;
    margin: 35px 1px 1px 50%;
    border-radius: 4px;
}
    .rwtxrq{
    height: 180px;
    width: 98%;
    background: #0089ED;
    border-radius: 4px 4px 4px 4px;
}
    .rwtxbjt{
position: static;
    margin: -17px 0px 0px -1px;
    top: 65px;
    left: 268px;
    width: 180px;
}
    .el-sub-menu.ibiz-control-toolbar__item--info .el-sub-menu__title {
  background-color: transparent;
}
.el-sub-menu.ibiz-control-toolbar__item--info .el-sub-menu__title .el-button {
  --el-button-bg-color: var(--el-fill-color-blank);
  --el-button-text-color: var(--el-text-color-regular);
  --el-button-disabled-text-color: var(--el-disabled-text-color);
  --el-button-disabled-bg-color: var(--el-fill-color-blank);
  --el-button-disabled-border-color: var(--el-border-color-light);
  --el-button-divide-border-color: var(--ibiz-color-border);
  --el-button-hover-text-color: var(--el-color-primary);
  --el-button-hover-bg-color: var(--el-color-primary-light-9);
  --el-button-hover-border-color: var(--el-color-primary-light-7);
  --el-button-active-text-color: var(--el-button-hover-text-color);
  --el-button-active-border-color: var(--el-color-primary);
  --el-button-active-bg-color: var(--el-button-hover-bg-color);
}
    .el-sub-menu.ibiz-control-toolbar__item--info .el-sub-menu__title .el-button {
  --el-button-outline-color: var(--el-color-primary-light-5);
  --el-button-hover-link-text-color: var(--el-color-info);
  --el-button-active-color: var(--el-text-color-primary);
  border-width: 1px;
}
.ibiz-control-toolbar__submenu-popper--info {
  background-color: transparent;
}
.ibiz-control-toolbar__submenu-popper--info .el-menu .el-menu-item:hover {
  color: var(--el-menu-hover-text-color);
  background-color: var(--el-menu-hover-bg-color);
}
    .ibiz-control-toolbar__submenu-popper--info .el-menu .el-button {
  color: var(--ibiz-color-text-0);
  --el-button-hover-bg-color: var(--el-color-primary-light-9);
  --el-button-hover-text-color: var(--ibiz-color-primary);
  --el-button-hover-border-color: var(--el-color-primary-light-7);
  --el-button-active-text-color: var(--el-button-hover-text-color);
  --el-button-active-border-color: var(--el-color-primary);
  --el-button-active-bg-color: var(--el-button-hover-bg-color);
  --el-button-outline-color: var(--el-color-primary-light-5);
  --el-button-hover-link-text-color: var(--el-color-info);
  --el-button-active-color: var(--el-text-color-primary);
}
.ibiz-control-toolbar__submenu-popper--info .el-menu .el-button:hover {
  color: var(--el-button-hover-text-color);
}

    .rktp{
    height:93%;
}
    .rkybjcrm{
    width: 100%;
    height: 100%;
    border-radius: 54%;
    background: #EED4D4;
    margin: 10% 0% 0% 42%;
}
    .rkybjehr{
width: 100%;
    height: 100%;
    border-radius: 56%;
    background: #CCE8F8;
    margin: 10% 0% 0% 42%;
}
    .ibiz-control-grid{
  --ibiz-control-grid-scrollbar-width: 8px;
  --ibiz-control-grid-scrollbar-bg-color:#a0a2a4;
  --ibiz-control-grid-scrollbar-bg-hover-color:#787878;
  --ibiz-control-grid-scrollbar-bg-hover-opacity:1;
}
    .all-deal-active .ibiz-rawitem__text {
  font-size: 20px;
  color: var(--ibiz-color-primary);
}
    .relation-tips-style .ibiz-rawitem__text{
    position: absolute;
    left: 100px;
    top: 46px;
    z-index: 1;
}
    .reldetails_data{
      background-color:#F14949;color:#FFFFFF
    }
    .reldetails_data{
    margin: 0px 0px 0px 0px;
    border-width:0px 0px 0px 0px;
    background-color:#F14949;
    --ibiz-form-item-text-color: #FFFFFF;
    padding:2px 5px;
    border-radius:2px;
}
    .qtrkrq .ibiz-panel-container--container15{
    height:370px;
    width:500px;
}

.qtrkrq .ibiz-panel-container--container13{
    height:370px;
    width:500px;

}
    .fqtb{
margin: 10px 0px 0px 8px;
    width: 24px;
    height: 24px;
}
        .fqbt .ibiz-rawitem .ibiz-rawitem__text{
    font-size: 18px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #1D1F23;
    line-height: 28px;
    -webkit-background-clip: text;
    position: absolute;
    top: 8px;
    left: 37px;
    }
    .ibiz-input.is-textarea.ibiz-input--readonly {
    color: black;
}
    
.ycqyrq{
        background-color: white;
    height: 92vh;
}
    .deal-font.ibiz-rawitem.ibiz-form-raw-item {
    padding: 13px 0px;
    margin-left: 25px;
}
    .dealText.ibiz-rawitem {
    padding: 13px 90px;
}
    .deal_searchform.ibiz-control.ibiz-control-searchform.ibiz-control--deal_search_form.ibiz-control-form.ibiz-control-searchform {
    line-height: 1.5;
    padding: 0px;
    height: 100%;
    margin-left: -50px;
    overflow: hidden;
}
    .ibiz-panel-rawitem.ibiz-panel-rawitem--static_label.nowarp-font {
    white-space: nowrap;
    font-size: medium;
    font-weight: bold;
}
    .wbwb .ibiz-rawitem .ibiz-rawitem__text{
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0,0,0,0.4);
    line-height: 24px;
    -webkit-background-clip: text;
    margin: -42px auto;
    position: absolute;
    text-align: center;
}
    .ibiz-panel-view-header{
    border-bottom:none;
}
    .ibiz-control-toolbar--user .el-button {
  padding: 8px;
  color: var(--ibiz-color-text-2);
  background-color: transparent;
}
.ibiz-control-toolbar--user .el-button:hover {
  color: var(--ibiz-color-primary);
  background-color: var(--ibiz-color-primary-light-default);
}
.ibiz-control-toolbar--user .ibiz-control-toolbar-submenu.is-active .el-sub-menu__title {
    border-bottom: none;
}
.ibiz-control-toolbar--user .ibiz-control-toolbar-submenu .el-sub-menu__title {
  color: var(--ibiz-color-text-3);
  background-color: transparent;
}
.ibiz-control-toolbar--user .ibiz-control-toolbar__menu button.el-button:focus-visible{
  outline: none;
}
.ibiz-control-toolbar-submenu-popper--user {
  background: transparent;
}
.ibiz-control-toolbar-submenu-popper--user .el-button {
  color: var(--ibiz-color-text-3);
}
.ibiz-control-toolbar-submenu-popper--user .el-menu .el-menu-item:hover {
  background-color: var(--ibiz-color-bg-0);
}
    /*工具栏分组项按钮2样式*/
.ibiz-control-toolbar__submenu-popper--style2 .el-menu .el-menu-item,
.ibiz-control-toolbar__submenu-popper--style2 .el-menu--horizontal.el-menu--popup-container,
.ibiz-control-toolbar__item--style2.ibiz-control-toolbar-submenu .el-sub-menu__title.el-sub-menu__title,
.ibiz-control-toolbar__submenu-popper--style2 .el-menu .ibiz-control-toolbar-submenu .el-sub-menu__title {
background-color: var(--ibiz-color-white);
color: var(--ibiz-color-text-3);
}
.ibiz-control-toolbar__submenu-popper--style2 .ibiz-control-toolbar-submenu-popper .el-menu .el-menu-item:hover,
.ibiz-control-toolbar__submenu-popper--style2 .el-menu .ibiz-control-toolbar-submenu .el-sub-menu__title:hover,
.ibiz-control-toolbar__submenu-popper--style2 .el-menu--horizontal .el-menu .el-sub-menu__title:hover {
background-color: var(--ibiz-color-bg-0);
color: var(--ibiz-color-text-3);
}
    /* 导出行为页数输入框样式 */
.ibiz-control-toolbar__submenu-popper--style2 .ibiz-export-excel-menu-item .el-input__inner,
.ibiz-control-toolbar__submenu-popper--style2 .ibiz-export-excel-menu-item .el-input__inner:hover {
color: var(--ibiz-color-text-3);
}
/* 弹出框内所有按钮 */
.ibiz-control-toolbar__submenu-popper--style2 .el-button {
--el-button-bg-color: transparent;
--el-button-hover-bg-color: transparent;
--el-button-active-bg-color: transparent;
--el-button-text-color: var(--ibiz-color-text-3);
--el-button-hover-text-color: var(--ibiz-color-text-3);
--el-button-active-text-color: var(--ibiz-color-text-3);
}
.ibiz-control-toolbar__submenu-popper--style2 .ibiz-control-toolbar-submenu .el-sub-menu__title .el-button {
padding-left: 5px;
}
.ibiz-control-toolbar__submenu-popper--style2 .ibiz-export-excel-submenu-button.el-button {
padding: 0 10px;
}
    
/* 适配分割线间距一致 */
/* 适配分隔符在前面 */
.ibiz-control-toolbar__item-separator + .ibiz-control-toolbar__menu--style2 .ibiz-control-toolbar-submenu {
margin-left: -8px;
}
/* 适配分隔符在后面 */
.ibiz-control-toolbar__menu--style2 + .ibiz-control-toolbar__item-separator {
margin-left: -4px;
}
/* 分组按钮样式 */
.ibiz-control-toolbar__menu--style2.el-menu--horizontal>.el-sub-menu.is-active .el-sub-menu__title {
border: none;
}
    
/* 窗口缩小样式 */
.ibiz-control-toolbar--user .ibiz-control-toolbar__item.is-short-cut .el-button{
color: var(--ibiz-color-primary);
}
.ibiz-control-toolbar--user .ibiz-control-toolbar__item.is-short-cut .el-button:hover,
.ibiz-control-toolbar--user .ibiz-control-toolbar__item.is-short-cut .el-button:hover i{
  font-weight: 600;
}
.ibiz-control-toolbar--user .ibiz-control-toolbar__item.is-short-cut .el-button svg,
.ibiz-control-toolbar--user .ibiz-control-toolbar__item.is-short-cut .el-button svg path {
  fill: var(--ibiz-color-primary) !important;
}

.ibiz-control-toolbar--user .ibiz-control-toolbar__item.is-short-cut .el-button .icon>path {
stroke: var(--ibiz-color-primary) !important;
stroke-width: 30 !important;
}
    .tzggrq{
position: relative;
    width: 98%;
    margin: 2% 0px 0px 0px;
    height: 34vh;
    border-radius: 4px;
    background: white;
}
    .wjmm .ibiz-rawitem .ibiz-rawitem__text{
    font-size: 16px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #0089ED;
    /* margin: 35px 0% 0% -112px; */
    top: 27px;
    left: -30px;
    position: relative;
    -webkit-background-clip: text;
}
    .h .ibiz-rawitem .ibiz-rawitem__text{
    font-size: 16px;
    display: block;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    color: #565656;
    top: 22px;
    left: 207px;
    /* margin: 30% 0% 0% 40%; */
    -webkit-background-clip: text;
    position: relative;
    width: 20%;
    background: white;
    z-index: 1;
    text-align: center;
}
    /* 移入移出效果 */
.ibiz-form-button--style2 .el-button,
.ibiz-control-toolbar__item--style2 .el-button,
.ibiz-panel-button--style2 .el-button {
min-height: var(--ibiz-height-control-default);
min-width: var(--ibiz-height-control-default);
background: transparent;
border: none;
color: var(--ibiz-color-text-3);
font-size: var(--ibiz-font-size-header-6);
padding: 8px;
}
.ibiz-form-button--style2 .el-button:hover,
.ibiz-control-toolbar__item--style2 .el-button:hover,
.ibiz-panel-button--style2 .el-button:hover {
background-color: var(--ibiz-color-primary-light-default);
color: var(--ibiz-color-primary);
}

.ibiz-form-button--style2 .el-button.el-button {
width: var(--ibiz-height-control-default) ;
}

/* 按钮间隔 */
.ibiz-form-button--style2.ibiz-form-button--style2,
.ibiz-control-toolbar__item--style2 .el-button,
.ibiz-panel-button--style2.ibiz-panel-button--style2 {
padding: var(--ibiz-spacing-tight) var(--ibiz-spacing-super-tight);
}
    .ibiz-code-list__item {
        color: #555B61;
}
    .wzrq{
    width:800px;
}
    .blackfont.ibiz-mpicker--readonly {
    color: #555B61;
}

.ibiz-input-number {
    display: flex;
    align-items: center;
    height: 100%;
    color: #555B61 !important;
}


.ibiz-mpicker--readonly {
    font-size: var(--ibiz-form-item-font-size);
    line-height: var(--ibiz-editor-default-line-height);
    color: #555B61 !important;
}
    .text_right{
      text-align:right
    }
    .font-left.ibiz-rawitem.ibiz-form-raw-item {
position: absolute;
    left: 150px;
    top: 10px;
    z-index: 1;
    width: auto;
    height: auto;
}
    .rqrq{    
    height: 52vh;
    margin: 3% 0px 10px 0px;
}
    .rlbt .ibiz-rawitem .ibiz-rawitem__text{
    font-size: 18px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #1D1F23;
    line-height: 28px;
    -webkit-background-clip: text;
    position: absolute;
    top: 2.2vh;
    left: 38px;
}
    .ckgdbutton .el-button{
    position: absolute;
    width: 88px;
    height: 32px;
    background: #0089ED;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    top: 10px;
    right: 18px;
}
    margin-left: 50px;
    .el-table__indent {
    padding-left: 40px !important;
    display: flow!important;
}
    .orange-span{
    width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #ffdcaf;
}
    .hyhl .ibiz-rawitem .ibiz-rawitem__text{
    font-size: 26px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 30px;
    -webkit-background-clip: text;
    /* margin: 15px 0px 0px 90px; */
    top: 15px;
    left: 9%;
    position: relative;
}
    .myzhm .ibiz-rawitem .ibiz-rawitem__text{
font-size: 16px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    /* line-height: 25px; */
    -webkit-background-clip: text;
    position: absolute;
    margin: -7% 0% 0% 6%;
}
    .zcxzh .ibiz-rawitem .ibiz-rawitem__text{
    font-size: 16px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #000000;
    /* line-height: 25px; */
    position: absolute;
    margin: -7% 0% 0% 25%;
    -webkit-background-clip: text;
}
    .hdtxrq{
 position: relative;
    margin: 12% 0px 0px 0px;
    height: 28vh;
    border-radius: 4px;
    background: white;
}
    .hdtxbt .ibiz-rawitem .ibiz-rawitem__text{
    font-size: 18px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #1D1F23;
    line-height: 28px;
    -webkit-background-clip: text;
    position: absolute;
    top: -45px;
    left: 12px;
}
    .transition-time .ibiz-span{
  font-size: var(--ibiz-font-size-small);
  color: var(--ibiz-color-disabled-text);
}
    .Narofdistance .ibiz-control-chart {
    position: absolute;
    top: 70px;
}
    .grey-span{
width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #e1e1e1;
}
    .ibiz-rawitem.ibiz-form-raw-item.second-heading {
    width: 100% !important;
    height: 100% !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-indent: 30px;
    color: #1D1F23 !important;
}
    .dlqbt1 .ibiz-rawitem .ibiz-rawitem__text{
font-size: 36px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    /* font-weight: 400; */
    color: #1D1F23;
    /* line-height: 48px; */
    position: absolute;
    margin: 10% auto;
    width: 100%;
    text-align: center;
}
    .dlqbt2 .ibiz-rawitem .ibiz-rawitem__text{
position: absolute;
    margin: 20% auto;
    font-size: 40px;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
    color: #0089ED;
    /* line-height: 49px; */
    width: 100%;
    -webkit-background-clip: text;
    text-align: center;
}
    .box-loginbutten .el-button{
    position: relative;
    margin: 15px 0% 0% 27px;
    /* font-size: 0.8vw; */
    width: 448px;
    height: 60px;
    background: #0089ED;
    box-shadow: 0px 4px 21px 0px rgba(119,147,65,0.3);
    border-radius: 11px 11px 11px 11px;
    opacity: 1;
}
    .dlkrq {
    height:750px;
}
    .dlsrk{
    width: 85%;
    margin-left: 8%;
    margin-top: 2%;
    /* margin-right: 11%; */
    line-height: 10%;
    height: 116%;
}

    .login-otherbackground{
    background: #EFF8FF;
    border-radius: 9%;
    opacity: 1;
    top: 135px;
    left:100px;
    position: relative;
    height: 229px;
    width: 203px;
}

    .login-logo{
    margin: 29px;
}
    .login-box{
      border-width:0px 0px 0px 0px
    }
    .login-box{
    box-shadow: 0px 4px 33px 0px rgba(0,0,0,0.08);
    border-radius: 37px 37px 37px 37px;
    opacity: 1;
    background: #FFFFFF;
}
    .login-name{
width: 169px;
height: 37px;
font-size: 28px;
font-family: Microsoft YaHei-Regular, Microsoft YaHei;
font-weight: 400;
color: #FFFFFF;
line-height: 33px;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
    .login-background{
    background-image: linear-gradient(#0089ED 55%,white 45%);
}
    .dlylogo{
    width: 117px;
    height: 41px;
    margin: 32px 0% 0% 32px;
}
.dlylogo .ibiz-rawitem{
    height:90%;
}
    .dlyxxsrq{
        margin: 45% 0% 0% 0%;
}
    .dlynrq{
    width: 1600px;
    height: 750px;
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;

}
    .dlyfgx{
    width: 90%;
    height: 100%;
    position: relative;
    top: 5px;
    left: 27px;
}
    .dlybt .ibiz-rawitem .ibiz-rawitem__text{
    top: 33px;
    font-size: 28px;
    line-height: 33px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    position: relative;
}
    .dlybjt1 .ibiz-rawitem__image{
    height: 450px;
    width: 450px;
    position: relative;
    margin: -78px 0% 0% 0px;
    z-index: 1;
}
.body{
    overflow: auto;
}
    .dlybdk{
width: 525px;
    position: relative;
    height: 700px;
    /* margin-right: 0px; */
    margin: 0px 0% 0% 70px;
    box-shadow: 0px 4px 33px 0px rgba(0,0,0,0.08);
    border-radius: 5%;
    background: #FFFFFF;
}
    .ibiz-rawitem {
    padding: 13px 0px;
    margin-left: -25px;
}
    .kanban-title .ibiz-span{
    padding: 10px 2px 10px 2px;
    font-size: 16px;
    font-weight: 600;
}
    .kanban-state {
  width: 80px;
  height: 24px;
  margin: 0 5px 5px 0;
}
.kanban-state .ibiz-code-list__item {
  --ibiz-code-list-item-color: #aaaaaa;
  justify-content: center;
  width: 80px;
  line-height: 24px;
  color: #fff;
  background-color: var(--ibiz-code-list-item-color);
  border-radius: 10px;
}

    .dsfdl{
width: 52px;
    height: 52px;
    position: relative;
    margin: 50px 0% 0% 15px;
}
    .dsfdlrq{
    height:108px;
}
    .purple-span{
width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #d2d8ed;
}
    .red-span{
   width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fcd0cb;
}

 

    .green-span{
width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #ccf2cc;
}
    .blue-span{
width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #c8e8fa;
}
    .itemLeft.ibiz-form-item-container--left .ibiz-form-item-container__label {
    text-align: left !important;
    width: auto !important;
}
    .jzzh .ibiz-rawitem .ibiz-rawitem__text{
    font-size: 16px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    /* line-height: 26px; */
    -webkit-background-clip: text;
    margin: 4% 0% 0% 12%;
    position: relative;
    top: 5px;
}
    .comment-replay {
	padding: 0 12px;
	background-color: #fafafa;
}
.comment-replay .ibiz-rawitem,
.comment-replay .ibiz-code-list__item,
.comment-replay .ibiz-panel-item-render--pcontent {
    color: #999;
}
.comment-replay .ibiz-panel-item-render--pcontent {
    display: flex;
}
.comment-replay .ibiz-panel-item-render--pcontent p {
	margin: 8px 0;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    .comment_icon .ibiz-rawitem{
    font-size:24px;
    opacity:0.5;
    padding:8px 0;
}
    .negative_red {
    --ibiz-form-item-text-color: red;
}

    .fybgrymc{
    /* width: 200px; */
    margin: 14px 71px -13px 35px;
}
    .fybgtx .ibiz-rawitem .ibiz-icon{
    width: 18px;
    height: 18px;
    position: absolute;
    margin: -18px 0px 0px 28px;
}
    .ibiz-input-number .el-input .el-input__inner {
     text-align: right !important;
     }
    .ibiz-form-mdctrl {
  position: relative;
}
.ibiz-form-mdctrl-header + .ibiz-repeater-multi-form .ibiz-mdctrl-container-item-actions__remove {
  margin-right: var(--ibiz-spacing-base-tight);
}
.ibiz-form-mdctrl-header + .ibiz-repeater-multi-form .ibiz-mdctrl-container-no-data .ibiz-mdctrl-container-item-actions,
.ibiz-form-mdctrl-header + .ibiz-repeater-multi-form .ibiz-mdctrl-container-item__right {
  position: absolute;
  width: auto;
  top: 0px;
  right: var(--ibiz-spacing-base-tight);
  margin-top: 0;
}
    .overflow-hidden.ibiz-panel-view-content {
    --ibiz-panel-view-content-padding: var(--ibiz-spacing-tight) var(--ibiz-spacing-base) 0 var(--ibiz-spacing-base);
    --ibiz-panel-view-content-margin: var(--ibiz-spacing-none);
    width: 100%;
    height: 100%;
    padding: var(--ibiz-panel-view-content-padding);
    overflow: hidden !important;
}
    .mxywdz .ibiz-rawitem .ibiz-rawitem__text{
    position: relative;;
    font-size: 28px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 33px;
    -webkit-background-clip: text;
    margin: 190px 0px 0px 0px;
    z-index: 3;
    right: -100px;
}
.mxywdz{
    height:170px;
}
    .deal-searchform-text.ibiz-form-item-container__label {
    font-size: 12px;
}
.deal-searchform-text.el-input__wrapper {
    height: 30px;
}
    .Indexbackground{
    background:#F6F6F6;
}
/***    END:系统样式表    ***/